<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pdf.Properties.Settings.pssc_dbConnectionString" connectionString="Data Source=MYPC;Initial Catalog=pssc_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>