<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Models.Properties.Settings.databaseConnectionString"
            connectionString="Data Source=MYPC\SQLEXPRESS;Initial Catalog=database;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>